/* You can add global styles to this file, and also import other style files */


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main{
  height: 100%;
  display: flex;
  padding: 2em;
  justify-content: center;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.top-spacing{
  padding-top: 1em;
}

.top-nav-bar{
  display: flex;
  justify-content: center;
  background-color: rgba(103, 58, 182, 0.5);
  padding-top: 5px;
  padding-bottom: 5px;
}
