<h1 mat-dialog-title>{{title}}</h1>
<form (ngSubmit)="submit()" [formGroup]="carForm">
  <div mat-dialog-content class="form_container">
    <div class="inner_form_container" style="padding-bottom: 20px">
      <mat-checkbox name="available" [formControl]="availableControl">Is available?</mat-checkbox>
    </div>
    <div class="inner_form_container">
      <!--  <p>registry number</p>-->
      <mat-form-field appearance="fill">
        <mat-label>Registry number</mat-label>
        <input matInput name="regNo" [formControl]="regNoControl">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Brand</mat-label>
        <input matInput name="brand" [formControl]="brandControl">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Model</mat-label>
        <input matInput name="model" [formControl]="modelControl">
      </mat-form-field>
    </div>

    <div class="inner_form_container">
      <mat-form-field appearance="fill">
        <mat-label>Insurance end date</mat-label>
        <input matInput [matDatepicker]="insurance" [formControl]="insuranceEndDateControl">
        <!--        <mat-hint>DD/MM/YYYY</mat-hint>-->
        <mat-datepicker-toggle matSuffix [for]="insurance"></mat-datepicker-toggle>
        <mat-datepicker #insurance></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Register date</mat-label>
        <input matInput [matDatepicker]="register" [formControl]="registerDateControl">
        <mat-datepicker-toggle matSuffix [for]="register"></mat-datepicker-toggle>
        <mat-datepicker #register></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Next technical review</mat-label>
        <input matInput [matDatepicker]="nextTechReview" [formControl]="nextTechReviewDateControl">
        <mat-datepicker-toggle matSuffix [for]="nextTechReview"></mat-datepicker-toggle>
        <mat-datepicker #nextTechReview></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="inner_form_container">
      <mat-form-field appearance="fill">
        <mat-label>Engine power [hp]</mat-label>
        <input matInput type="number" name="enginePower" [formControl]="enginePowerControl">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Gearbox type</mat-label>
        <mat-select [formControl]="gearboxControl">
          <mat-option *ngFor="let gearbox of gearboxTypes" [value]="gearbox">
            {{gearbox}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Fuel type</mat-label>
        <mat-select [formControl]="fuelControl">
          <mat-option *ngFor="let fuel of fuelTypes" [value]="fuel">
            {{fuel}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="inner_form_container">
      <mat-form-field appearance="fill">
        <mat-label>Seats</mat-label>
        <input matInput type="number" name="seats" [formControl]="seatsControl">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Trunk capacity</mat-label>
        <input matInput type="number" name="trunkCap" [formControl]="trunkCapControl">
      </mat-form-field>

    </div>
    <div class="inner_form_container">
      <mat-form-field appearance="fill">
        <mat-label>Per day [PLN]</mat-label>
        <input matInput type="number" name="perDay" [formControl]="perDayControl">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Per week [PLN]</mat-label>
        <input matInput type="number" name="perWeek" [formControl]="perWeekControl">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Insurance [PLN]</mat-label>
        <input matInput type="number" name="insurance" [formControl]="insuranceControl">
      </mat-form-field>
    </div>
  </div>

  <div mat-dialog-actions class="footer_buttons">
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button type="submit" cdkFocusInitial>Ok</button>
  </div>
</form>

