<div class="top-nav-bar">
  <button mat-raised-button (click)="openDialog()">Add car</button>
</div>

<main>
<mat-card-content>
  <mat-card>
    <div class="photo">
      <img src="assets/photo-not-available.png">
    </div>
    <div>
      <mat-card-header>
        <mat-card-title>Car name</mat-card-title>
        <mat-card-subtitle>Description</mat-card-subtitle>
      </mat-card-header>

      <div class="facilities">
        <mat-card-content>
          <span>content</span>
          <span>content2</span>
          <span>content3</span>
        </mat-card-content>
      </div>
      <mat-card-actions>
        <button mat-button>EDIT</button>
        <button mat-button>DELETE</button>
      </mat-card-actions>
    </div>
  </mat-card>
</mat-card-content>
</main>
